h1 {
	text-align: center;
	border: 2px dotted red;
	text-decoration: none;
	margin: 50px 500px;
	padding: 1ex;
}

p {
	text-align: center;
	font-size: 24px;
}

img {
	height: 50vh;
	width: 25vw;
}

#centered {
	text-align: center;
}

#b {
	color: white;
}

#u {
	color: white;
}

#r {
	color: white;
}

#c {
	color: white;
}

#a {
	color: white;
}

#k {
	color: white;
}